<div class="container">
    <div class="text-center col-sm-12">
      <h1><b>*** Meu Quiz :D ***</b></h1>
    </div>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="../../images/cadastros.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Cadastro de questionário</h2>
          <p>No sistema você pode realizar cadastros completos de questionários.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
         <img class="img-circle" src="../../images/questionario-2.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Respostas</h2>
          <p>O usuário poderá visualizar os questionáros disponíveis e respondê-los através de um sistema de quiz.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../../images/icone-rankings.png" alt="Generic placeholder image" width="180" height="140">
          <h2>Ranking</h2>
          <p>As respostas de todos os usuários podem ser vizualizadas assim como o ranking com as pontuações na ordem descrescente</p>
                   
          </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div> <!-- /container -->

</div>
<!-- /.container -->