<div class="container">
  <h2>{{vm.titulo}}</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="titulo" class="col-sm-2 control-label">Título</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="vm.pergunta.titulo" id="titulo" required>
      </div>
    </div>
    <div class="form-group">
      <label for="peso" class="col-sm-2 control-label">Peso</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="vm.pergunta.peso"  id="peso">
      </div>
    </div>
    <div class="text-right col-sm-10">
      <a href="{{'#/' + vm.questionario + '/perguntas/'}}" class="btn btn-danger">Cancelar</a>
      <button ng-click="vm.salvar()" type="button" class="btn btn-success btn-lg">Salvar</button>
    </div>
  </form>
</div>
<!-- /.container -->