<div class="container">
  <h2>{{vm.titulo}}</h2>
  <div ng-show="usuarioForm.nome.$error.required && usuarioForm.titulo.$dirty" id="divError" style="margin-bottom: 15px;" class="list-group-item list-group-item-danger">
      <li>O campo 'nome' deve ser preenchido !</li>
    </div>  
  <form name="usuarioForm" class="form-horizontal">
    <div class="form-group">
      <label for="nome" class="col-sm-2 control-label">Nome</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="vm.usuario.nome" id="idnome" name="nome" ng-required="true">
      </div>
    </div>
    <div class="form-group">
      <label for="documento" class="col-sm-2 control-label">Documento</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" ng-model="vm.usuario.documento"  id="documento">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="vm.usuario.email"  id="email">
      </div>
    </div>
    <div class="text-right col-sm-10">
      <a href="#/usuarios" class="btn btn-danger">Cancelar</a>
      <button ng-click="vm.salvar()" type="button" ng-disabled="usuarioForm.$invalid" class="btn btn-success">Salvar</button>
    </div>
  </form>
</div>
<!-- /.container -->