<wizard on-finish="vm.gravar()" on-cancel="vm.cancelar" indicators-position="top" edit-mode="false"> 
    <wz-step wz-title="Iniciar" wz-order="0">
        <h1>WIZARD</h1>
        <p>
          Inicie o questionário para responder as perguntas !
        </p>
        <input class="btn btn-success" type="submit" wz-next value="Iniciar" />
    </wz-step>
    <wz-step ng-repeat="pergunta in vm.perguntas track by $index" wz-title="{{+'___Nº '+($index + 1)+' __'}}" wz-order="{{$index + 1}}">
        <h1>{{pergunta.titulo}}</h1>
        <ul>
          <div ng-repeat="opcao in pergunta.opcoes">
            <label>
              <input type="radio" name="radius" ng-model="vm.alternativa" value="{{opcao.id}}" ng-value="opcao"/>
                  {{opcao.descricao}}
            </label>
            {{vm.alternativa}}
          </div>  
        </ul>
        
        <input class="btn btn-success" type="submit" wz-next value="Confirma" ng-disabled="!vm.alternativa" ng-click="vm.salvar(pergunta, vm.alternativa)"/>
    </wz-step>
    <wz-step wz-title="Finalizar" wz-order="100">
        <h1>Muito obrigado</h1>
        <p>
          Agradecemos por sua colaboração
        </p>
        <input class="btn btn-success" type="submit" wz-next value="Finalizar" />
    </wz-step>
</wizard>